<?xml version="1.0" encoding="utf-8"?>
<!-- For Anikku authentication -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data
            android:name="animeextension.class"
            android:value="com.bobajingo.crunchyrepo.Crunchyroll" />
        <meta-data
            android:name="animeextension.language"
            android:value="en" />
        <meta-data
            android:name="animeextension.type"
            android:value="video" />
    </application>
	
</manifest>
